# Backend API Base URL (Required)
# Replace with your backend server URL
NEXT_PUBLIC_API_BASE_URL=


# =============================================================================
# HOW TO RUN LOCALLY:
# =============================================================================
# 1. Copy this file: cp env.example .env.local
# 2. Update NEXT_PUBLIC_API_BASE_URL with your backend URL
# 3. Run: npm run dev
# 4. Access: http://localhost:3000
# 5.Admin Login with: admin@4ami.com / Admin@123456
# =============================================================================



### 2. Build and Run with Docker

```bash
# Build the Docker image
docker build -t 4ami .

# Run the container
docker run -p 3000:3000 4ami