option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 22.17.1
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    NODE_OPTIONS: "--max-old-space-size=1024"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: .next/static
